<%#
  This form is used for both new and edit. The next line is used to figure out
  which endpoint is needed based on the +lead+ object
%>
<% url = lead.persisted? ? lead_path(lead) : leads_path %>

<h1 class="title"><%= lead.name || lead.email || "Lead ##{lead.id}" %></h1>

<div class="card">
  <div class="card-content">
    <div class="content">
      <%= form_for lead, url: url do |f| %>
        <div class="field">
          <%= f.label :name, class: 'label' %>
          <div class="control">
            <%= f.text_field :name, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <%= f.label :phone_number, class: 'label' %>
          <div class="control">
            <%= f.text_field :phone_number, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <%= f.label :email, class: 'label' %>
          <div class="control">
            <%= f.email_field :email, class: 'input' %>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <%= f.submit 'Save', class: 'button is-link is-rounded' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
